.status {
    padding: 12px 18px;
    border-radius: 6px;

    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;

    text-transform: capitalize;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.status:before {
    content: 'â—';
    margin-right: 8px;
}

.paid {
    background: var(--status-paid-bg);
    color: var(--status-paid-text);
}

.pending {
    background: var(--status-pending-bg);
    color: var(--status-pending-text);
}

.draft {
    background: var(--status-draft-bg);
    color: var(--status-draft-text);
}
