.layout {
    padding: 70px 0;
}

@media screen and (max-width: 1024px) {
    .layout {
        padding: 100px 0;
    }
}

.toolbar {
    position: relative;
    z-index: 2;
}

.content {
    position: relative;
    z-index: 1;
}