.fieldSet {
    padding: 0;
    margin: 0;
    border: none;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (max-width: 1024px) {
    .fieldSet {
        gap: 48px;
    }
}

.legend {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: #7C5DFA;
    margin-bottom: 24px;
}

.boldLegend {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.375px;
    color: #777F98;
}