.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background: var(--header-01);
    border-radius: 0px 20px 20px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .toolbar {
        width: 100%;
        height: 80px;
        flex-direction: row;
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {
    .toolbar {
        height: 72px;
    }
}

.logo {
    margin-bottom: auto;
}

.user {
    padding: 32px;
}